
[class*="col-"] {
    background-color: lightgreen;
    border-radius: 6px;
    line-height: 40px;
    text-align: center;
}

header {
    border: 5px solid darkcyan;
}

.container {
    border: 1px solid green;
    padding: 10px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

#footer {
    border: 5px solid indianred;
}

#section {
    border: 5px solid orange;
}

#article {
    border: 1px solid deepskyblue;
}

#commentaires {
    border: 1px solid hotpink;
}

#contenu {
    border: 3px solid grey;
}